h1 {
<<<<<<< HEAD
  background-color: blue;
=======
  background-color: green;
>>>>>>> c9145eb833900572f34aa5696430fe63e33eea82
}

p {
  border: 5px solid black;
}
 .page-content {
   background-color: red;
 }
#unique-p-tag {
  background-color: blue;
}
